.kwadrat-drugi {
  width: 200px;
  height: 200px;
  background-color: aqua;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 25%;
  width: 400px;
  height: 400px;
  background: green; }

.kwadrat {
  width: 200px;
  height: 200px;
  background-color: aqua;
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  border-radius: 50%;
  width: 400px;
  height: 400px;
  background: aqua; }

body {
  background-color: red; }

nav {
  background: yellow; }
  nav ul li {
    color: green; }
